.code-editor-body {
    width: 100%;
    height: 100%; /* Makes it a square */
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.code-section {
    
}

.language-selection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 0.5rem;
}

.language-selection select {
    border: 1px solid #bbb;
    border-radius: 0.3rem;
}

.language-selection select:focus {
    outline: none;
}

