.IP-paragraph-textarea {
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    margin-top: 0.5rem
}

.IP-paragraph-textarea:focus {
    outline: none;
}

.IP-title-input {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Sansation' ;
    font-weight: 400;
}

.edit-button {
    width: 70px;
    height: 30px;
    position: absolute;
    bottom: 3%;
    right: 3%;
    background-color: rgba(112,94,218,255);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.edit-button:hover {
    background-color: rgb(195, 255, 221);
    color: rgb(114, 114, 114);
}

.edit-form-imports {
    display: flex;
    width: 80%;
    height: fit-content;
    margin-top: 15px
}

.file-imports-body {
    width: 80%;
    margin-top: 10px;
    height: fit-content;
    max-height: 4.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.IP-visibility {
    width: 40%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 10px;
}

.IP-visibility h3 {
    margin: 0;
}

.IP-visibility select {
    border-radius: 3px;
    font-family: 'Sansation' ;
    background-color: #fefefe;
    border: 1px solid #bbb;
    color: #333;
}

.IP-visibility select:focus {
 outline: none;   
}

.IP-author-visibility {
    width: 80%;
    display: flex;
    flex-direction: row;
}