
.expanded-image-body {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background-color: rgba(185, 185, 185, 0.445);
    z-index: 5;
    justify-content: center;
}

.expanded-image-container {
    width: 80%;
    height: fit-content;
    margin-top: 35%;
}

.expanded-image-container img {
    width: 100%;
}
.no-scroll {
    overflow: hidden;
}