.post-outer-body {
    width: 100%;
    height: 100%;
    position: relative;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.post-body {
    width: 80%;
    height: 50%;
    min-width: 400px;
    background-color: #fffaf5;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.cancel-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 100%;
    border: 0px solid black;
    cursor: pointer;
    background-color: rgba(112,94,218,255);
    color: white;
}

.post-button {
    width: 70px;
    height: 30px;
    position: absolute;
    bottom: 3%;
    right: 3%;
    background-color: rgba(112,94,218,255);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    transition: background-color 0.2s;
}


.form-body {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-top {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
/* 
@media (max-width: 760px) {
    .form-top {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
} */

.form-title {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.form-title-input {
    border-radius: 3px;
    width: 70%;
    background-color: #fefefe;
    border: 1px solid #bbb;
    color: #333;
}

.form-visibility {
    width: 50%;
    min-width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.form-visibility select {
    background-color: #fefefe;
    border: 1px solid #bbb;
    color: #333;
}

.form-visibility select:focus {
    outline: none;
}


.form-middle {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.form-paragraph {
    width: 90%;
    resize: vertical;
    max-height: 350px;
    min-height: 200px;
    border-radius: 10px;
    background-color: #fefefe;
    border: 1px solid #bbb;
    color: #333;
    padding-left: 15px;
}

.form-paragraph:focus {
    outline: none;
}

.form-bottom {
    width: 90%;
    min-height: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.form-imports {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-import-button {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #fefefe;
    border: 1px solid #bbb;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form-import-button img {
    width: 120%;
}

.file-upload {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    z-index: 3;
    display: none;
}